:root{
    --mainBgColor: #0b132b;
    --formBgColor: #1c2541;
    --textColor: #f4f4f9;
    --secondaryTextColor: #11151c;
    --placeholderColor: #d6d5c9;
}

body{
    background-color: var(--mainBgColor);
    margin: 0;
    font: 1.4em/1.4 Verdana, Geneva, Tahoma, sans-serif;
    color: var(--textColor);
}

.container{
    width: 100%;
    margin: 0 auto;
}

.centre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.inputArea{
    width: 65vw;
    background-color: var(--formBgColor);
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
}
#title{
    cursor: default;
    margin: 5px;
    transition: 250ms ease-in;
}

#title:hover{
    color: lightcoral;
}
.sm{
    font-size: medium;
}

a.btnStyle{
    font-size: medium;
    cursor: default;
}


.btnStyle{
    text-decoration: none;
    background-color: transparent;
    border: 1.5px solid var(--textColor);
    padding: 12px;
    outline: 0;
    border-radius: 2px;
    color: var(--textColor);
    font-weight: 600;
    transition: 500ms ease-in;
}

.btnStyle::placeholder{
    color: var(--placeholderColor);
    transition: 250ms ease-in;
}

.btnStyle:active, .btnStyle:focus, .btnStyle:hover{
    background-color: var(--textColor);
    color: var(--secondaryTextColor);
}

.btnStyle:active::placeholder, .btnStyle:focus::placeholder, .btnStyle:hover::placeholder{
    color: var(--secondaryTextColor);
}


#info{
    cursor: default;
    position: fixed;
    bottom: 10px;
    font-size: small;
    color: #888;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 600ms ease-in;
}

#name{
    color: chocolate;
    transition: 500ms ease-in;
}

#info:hover{
    color: transparent;
}

#info:hover > #name{
    /* font-size: medium; */
    padding-left: 1em;
    border-left: 1px solid chocolate;
}