<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>YTDL</title>
	<style type="text/css">
	body{margin: 0;font: 18px/1.5 Helvetica, sans-serif;background: #111;color: #fff;}.container{width: 90%;margin: 0 auto;}.container > form{display: flex;align-items: center;justify-content: center;height: 100vh;}.input-group{position: relative;}#videoLink, .btn{outline: 0;background: transparent;border: 2.3px solid #dfe6e9;border-radius: 4px;padding: 6px;color: #fff;}label[for="videoLink"]{font-size: small;position: absolute;left: 10px;top: -9px;background: #111;}.form-area{display: flex;flex-direction: column;gap: 5px;}#videoLink{width: 350px;height: 25px;}.btn{padding: 10px 140px;font-weight: 600;text-transform: uppercase;transition: 500ms ease-in-out;}.btn:hover{background: #dfe6e9;color: #111;}
	</style>
</head>
<body>
	<div class="container">
		<form class="form-area" action="/" method="post">
			<div class="input-group">
				<input type="url" name="videoLink" id="videoLink" required minlength="12">
				<label for="videoLink">Enter Video Link</label>
			</div>
			<button type="submit" class="btn">Download</button>
		</form>
	</div>
</body>
</html>